html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.primary-color{
  color: #0B5FFF;
}
.secondary-color{
  color: #00c6ff;
}
.primary-color-bg{
  background-color: #FBFAFC;
}
.text-primary{
    color: #0F172A;
}
.text-secondary{
    color: #687280;
}
.hero-bg{
    /* background-color: #0B5FFF; */
    background-image: url(./assets/images/hero-bg.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar .logo{
    color: #0B5FFF;
    font-size: 2rem;
    font-weight: bold;

}
.navbar .logo:hover{
    color: #00c6ff;
    transition: 0.3s;
}

.navbar .nav-links{
    display: flex;
    
    align-items: center;
    
}
.navbar .nav-links li{
    text-decoration: none;
    color: #0F172A;
    font-size: 1.2rem;
    margin: 0 1rem;
    text-transform: uppercase;
    list-style: none;
    padding: 0.5rem 1rem;
}
.navbar .nav-links li a{
   text-decoration: none;
   color: #FBFAFC;
   font-weight: 700;

}

.btn{
    padding: 1rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    color: #FBFAFC;
    background-color: #0B5FFF;
    font-weight: 700;
    border: none;
    padding: 20px 40px;
    font-size: 1rem;
}